---
- name: "Assert that mandatory parameters are defined and have the correct type"
  ignore_errors: false
  ansible.builtin.assert:
    quiet: true
    that:
      - "mailpit_chart_version is string"
      - "mailpit_chart_version | length > 0"
      - "mailpit_release_name is string"
      - "mailpit_namespace is string"
      - "mailpit_namespace | length > 0"
      - "mailpit_state in ['present', 'absent']"
      - "mailpit_create_namespace is boolean"
      - "mailpit_chart_ref | length > 0"
      - "mailpit_chart_ref is string"
      - "mailpit_chart_repo_url is string"
      - "mailpit_chart_repo_name is string"
      - "mailpit_image_repository is string"
      - "mailpit_image_repository | length > 0"
      - "mailpit_image_pull_policy is string"
      - "mailpit_image_pull_policy in ['Always', 'IfNotPresent', 'Never']"
      - "mailpit_image_tag is string"
      - "mailpit_image_tag | length > 0"
      - "mailpit_image_pull_secrets is iterable"
      - "mailpit_auth_ui is iterable"
      - "mailpit_auth_api is iterable"
      - "mailpit_auth_smtp is iterable"
      - "mailpit_auth_pop3 is iterable"
      - "mailpit_auth_existing_secret is string"
      - "mailpit_auth_existing_secret | length > 0 or mailpit_auth_ui | length > 0"
      - "mailpit_auth_smtp_auth_accept_any is boolean"
      - "mailpit_auth_smtp_auth_allow_insecure is boolean"
      - "mailpit_mailpit_max_messages is integer"
      - "mailpit_mailpit_max_age is string"
      - "mailpit_mailpit_disable_wal is boolean"
      - "mailpit_mailpit_disable_version_check is boolean"
      - "mailpit_service_account_create is boolean"
      - "mailpit_service_account_automount is boolean"
      - "mailpit_service_account_annotations is mapping"
      - "mailpit_service_account_name is string"
      - "mailpit_pod_annotations is mapping"
      - "mailpit_pod_labels is mapping"
      - "mailpit_ingress_enabled is boolean"
      - "mailpit_ingress_class_name is string"
      - "mailpit_ingress_host is string"
      - "mailpit_ingress_host | length > 0 or mailpit_ingress_enabled is not true"
      - "mailpit_ingress_annotations is mapping"
      - "mailpit_ingress_tls_enabled is boolean"
      - "mailpit_ingress_tls_secret_name is string"
      - "mailpit_ingress_tls_secret_name | length > 0 or mailpit_ingress_tls_enabled is not true"
      - "mailpit_ingress_path is string"
      - "mailpit_ingress_path | length > 0 or mailpit_ingress_enabled is not true"
      - "mailpit_mailpit_http_root_path is string"
      - "mailpit_resources_requests_cpu is string"
      - "mailpit_resources_requests_memory is string"
      - "mailpit_resources_limits_cpu is string"
      - "mailpit_resources_limits_memory is string"
      - "mailpit_liveness_probe_initial_delay_seconds is integer"
      - "mailpit_liveness_probe_period_seconds is integer"
      - "mailpit_liveness_probe_timeout_seconds is integer"
      - "mailpit_liveness_probe_failure_threshold is integer"
      - "mailpit_liveness_probe_path is string"
      - "mailpit_readiness_probe_initial_delay_seconds is integer"
      - "mailpit_readiness_probe_period_seconds is integer"
      - "mailpit_readiness_probe_timeout_seconds is integer"
      - "mailpit_readiness_probe_failure_threshold is integer"
      - "mailpit_readiness_probe_path is string"
      - "mailpit_storage_enabled is boolean"
      - "mailpit_storage_class_name is string"
      - "mailpit_storage_size is string"
      - "mailpit_storage_class_name | length > 0 or mailpit_storage_enabled is not true"
      - "mailpit_storage_size | length > 0 or mailpit_storage_enabled is not true"
    
