name: Semantic Release

on:
  push:
    branches:
      - 'release'

jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"
      - name: Install dependencies
        run: >
          npm install -g
          semantic-release
          @semantic-release/commit-analyzer
          @semantic-release/release-notes-generator
          @semantic-release/git
          @semantic-release/github
      - name: Run Semantic-Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release

  get_tag:
    runs-on: ubuntu-latest
    needs: release
    permissions:
      contents: read
    outputs:
      tag: ${{ steps.get_tag.outputs.tag }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - id: get_tag
        run: |
         tag=$(git describe --tags)
         echo "tag=$tag" >> $GITHUB_OUTPUT

  # Helm Chart
  scan_helm:
    uses: dBildungsplattform/dbp-github-workflows/.github/workflows/check-helm-kics.yaml@5
    permissions:
      contents: read

  release_helm:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    concurrency:
      group: helm_release
      cancel-in-progress: false
    needs:
     - scan_helm
     - get_tag
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - id: lower-helm-repo
        name: Repository to lowercase
        run: |
          repo_var=${{ github.repository }}
          echo "repository=${repo_var@L}" >> $GITHUB_OUTPUT
      - name: Log into ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push helm chart to ghcr
        shell: bash
        id: extract_branch_meta
        env:
          CHART_VERSION: "${{ needs.get_tag.outputs.tag }}"
          CHART_APP_VERSION: "${{ needs.get_tag.outputs.tag }}"
          CHART_NAME: "mailpit"
          CHART_DIR: "charts"
        run: |
          helm version
          helm package "$CHART_DIR/$CHART_NAME" --version $CHART_VERSION --app-version $CHART_APP_VERSION
          helm push "$CHART_NAME-$CHART_VERSION.tgz" oci://ghcr.io/${{ steps.lower-helm-repo.outputs.repository }}
